<div class="span2 well">
  <center>
    <h1>Give & Take</h1>
    <font size = "5"> Give & Take is the premier application for service exhange and getting things done! <br> <br> </font>
    <br>
    <br>
    <h3>How does it work? (Proof of Concept)</h3>
    <p>Give & Take is a simple web application to helps you connect with Giver's and Taker's to finish those cubmersome assignments, chores, or duties on your to do list. <br> <br> </p>
    <p size = "10"><b> What the heck is a Giver and a Taker? </b> </p>
    <img src="https://s-media-cache-ak0.pinimg.com/236x/fb/2c/1a/fb2c1a47a6ac81928631a40dd60c89b5.jpg">
    <p>
     A Giver is another use who is willing to <i> give </i> there service to another. A Take is someone who <i> takes </i> a service from another user. Without further ado, follow these steps to <b> get things done! </b> <br> 
    </p>
    
    <ol>
      <img src="http://yooshopper.com/static/img/home/Sign-up-Here.png" style="width:304px;height:228px;">
      <li> Sign up! Siging up can be done by clicking the login button at the top right. You can create a new account by entering
        your email and password, or use your Google, Facebook, or Twitter account.  </li>
        <img src="http://cliparts.co/cliparts/8Tx/nLb/8TxnLbBgc.jpg" style="width:304px;height:228px;">        
      <li> Once you're signed in, navigate to the home page to create your first <b> Service </b>. A Service is your way of requesting help for your task. When you click the 'Create A Service' button on the homepage, you will be asked for details about your service so that Givers can determine if they are willing to help out. You will be asked to describe the service and what needs to be done, provide a due date, and location. </li>
      
      <img src="https://s-media-cache-ak0.pinimg.com/236x/21/3d/b6/213db6e691b5610772a0210806d0a199.jpg" >      
      
      <li> Once you have created a request, Givers who are interested in helping you complete your service will notify you which you will find in the tab 'My Activities'. These notifications will contain the Giver's information and their avalibility so that you can pick the best Giver for your service.  </li>

      <img src="http://www.voicesage.com/wp-content/uploads/2014/10/Text-Messaging.jpg" style="width:304px;height:228px;">  

      <li>After selecting your Giver, you and the Giver will have your own Message thread, which is in the Messages tab, where you can discuss the finer details of the service.  </li>

      <img src="https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=0ahUKEwi0yvuZ48vQAhWELSYKHTA7CYkQjBwIBA&url=http%3A%2F%2Fglobal-integration.ourbrandguide.com%2Fcartoons%2F67_celebration.jpg&psig=AFQjCNGoQzVUG1J67zglVOdj70qaLq7M7Q&ust=1480433615584712" >  

      <li>Your Service is now completed!!! Yaayyy!! Before continuing on your way, we insist that you leave a review for your Giver. This will ensure that your Service was fully completed and you are satisfied with your Giver. Vice versa, the Giver will also complete a review, so be nice!</li>

      <img src="http://www.mfocaribbean.com/wp/wp-content/uploads/2014/10/customer-satisfaction.jpg" style="width:304px;height:228px;">  

      <li> Lastly, our service is called <b> Give & Take </b> for a reason, which is that before you create another Service Request, you must <b> complete a Service Request. </b> This helps us ensure that all users have equal opportunities in giving and taking services! </li>

      <img src="http://images.clipartpanda.com/token-clipart-gold-coins-in-a-stack-clip-art_f.jpg" style="width:304px;height:228px;">  

      <li> P.S. If you are an active Give & Take, you will recieve tokens that will give you special rewards such as more service requests at a time, a skip Service Request and more. But be sure to keep it to yourself so you can reap all the rewards!  </li>
    </ol>

  </center>




</div>


