<div class="span2 well">
  <center>
    <h1>Give & Take</h1>
    <p> Give & Take is a platform for service exhanges. Connect with friends, peers and colleagues to get things done! </p> 
  </center>




</div>


